#heartbeat {
  color: #ff0000;
  animation: iconAnimate 1.33s ease-in-out infinite;
}

@-moz-keyframes iconAnimate {

  0%,
  100% {
    transform: scale(1);
  }

  10%,
  30% {
    transform: scale(0.9);
  }

  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }

  50%,
  70% {
    transform: scale(1.1);
  }
}

@-webkit-keyframes iconAnimate {

  0%,
  100% {
    transform: scale(1);
  }

  10%,
  30% {
    transform: scale(0.9);
  }

  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }

  50%,
  70% {
    transform: scale(1.1);
  }
}

@-o-keyframes iconAnimate {

  0%,
  100% {
    transform: scale(1);
  }

  10%,
  30% {
    transform: scale(0.9);
  }

  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }

  50%,
  70% {
    transform: scale(1.1);
  }
}

@keyframes iconAnimate {

  0%,
  100% {
    transform: scale(1);
  }

  10%,
  30% {
    transform: scale(0.9);
  }

  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }

  50%,
  70% {
    transform: scale(1.1);
  }
}

:root {
    --global-font-size: 14px;
    --global-bg: #fff;
    --font-color: #4c4948;
    --hr-border: #a4d8fa;
    --hr-before-color: #80c8f8;
    --search-bg: #f6f8fa;
    --search-input-color: #4c4948;
    --search-result-title: #4c4948;
    --preloader-bg: #37474f;
    --preloader-color: #fff;
    --tab-border-color: #f0f0f0;
    --tab-botton-bg: #f0f0f0;
    --tab-botton-color: #1f2d3d;
    --tab-button-hover-bg: #dcdcdc;
    --tab-button-active-bg: #fff;
    --card-bg: #fff;
    --sidebar-bg: #f6f8fa;
    --btn-hover-color: #ff7242;
    --btn-color: #fff;
    --btn-bg: #49b1f5;
    --text-bg-hover: #b6e8547a;
    --light-grey: #eee;
    --white: #fff;
    --text-highlight-color: #1f2d3d;
    --blockquote-color: #6a737d;
    --blockquote-bg: rgba(73,177,245,0.1);
    --reward-pop: #f5f5f5;
    --toc-link-color: #666261;
    --card-box-shadow: 0 3px 8px 6px rgba(7,17,27,0.06);
    --card-hover-box-shadow: 0 3px 8px 6px rgba(7,17,27,0.15);
    --waline-bgcolor: #ffffff52;
    --waline-bgcolor-light: #fef1f100;
}


 .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post {
    background: rgba(255,255,255,.2);
}

#card-toc.card-widget {
    background-color: rgba(255, 255, 255) !important;
}

#aside-content .card-widget, #recent-posts.recent-posts.nc >.recent-post-items>.recent-post-item, .layout_post>#post, .layout > div:first-child:not(.recent-posts) {
    background: rgba(255,255,255,.2);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(255, 255, 255, 0.15);  

/*

    background-color: rgba(255, 255, 255, 0.1);
    background-color: rgba(38, 227, 26, 0.15); 

*/

}


#recent-posts.recent-posts.nc >.recent-post-items > 
.recent-post-item:hover {
    height: 102px;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: my_custom1;

}

.v[data-class=v] .vempty,.v[data-class=v] .vcount {

    display: none !important;
}

#recent-posts.recent-posts.nc >.recent-post-items > 
.recent-post-item {
    height: 102px;
/*
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: my_custom;
*/
}

.post_cover {
    height: 122px;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: my_custom;
}

@keyframes my_custom1 {
    0% {
        box-shadow: 0 0 4px #ca00ff
    }

    25% {
        box-shadow: 0 0 16px #00b5e5
    }

    50% {
        box-shadow: 0 0 4px #00f
    }

    75% {
        box-shadow: 0 0 16px #b1da21
    }

    100% {
        box-shadow: 0 0 4px red
    }
}
@keyframes my_custom {
    from {
        box-shadow: 0 0 20px var(--primary-color2,#08CB39),inset 0 0 15px var(--primary-color2,#08CB39),0 1px 0 var(--primary-color2,#08CB39)
    }

    to {
        box-shadow: 0 0 20px var(--primary-color2,#08D6E8),inset 0 0 10px var(--primary-color2,#08D6E8),0 1px 0 var(--primary-color2,#08D6E8)
    }
}
@keyframes myflash {
    from {
        border-color: transparent
    }

    to {
        border-color: var(--primary-color3,#881B12)
    }
}


#web_bg {
  background: -webkit-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: -o-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: -ms-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  
  
}


#recent-posts.recent-posts.nc >.recent-post-items > .recent-post-item >.recent-post-info > .article-meta-wrap .article-meta-separator {
    margin: 0 0.3rem;
    margin-top: 0px;
    margin-right: 0.6rem;
    margin-bottom: 0px;
    margin-left: 0.6rem;
}



#article-container .flink .flink-list>.flink-list-item {
	border: 0 solid #49b1f5;
	border: 0 solid var(--primary-color,#49b1f5)
}

#article-container .flink .flink-list>.flink-list-item a {
	color: #000;
	color: var(--namecolor,#000);
	text-decoration: none
}

#article-container .flink .flink-list>.flink-list-item a:hover {
	color: #fff;
	color: var(--namecolorHover,#fff)
}

#article-container .flink .flink-list>.flink-list-item a:hover img {
	transition: .6s;
	transform: translateX(-37.5px);
	opacity: 0
}

#article-container .flink .flink-list>.flink-list-item a:hover .flink-item-name  {
	transition: .6s;
	transform: translateX(-37.5px)
}

#article-container .flink .flink-list>.flink-list-item a:hover .flink-item-desc  {
	transition: .6s;
	transform: translateX(-37.5px)
}

#article-container .flink .flink-list>.flink-list-item a .lauto {
	animation: auto_rotate_left var(--autotime) linear infinite
}

#article-container .flink .flink-list>.flink-list-item a .rauto {
	animation: auto_rotate_right var(--autotime) linear infinite
}

#article-container .flink .flink-list>.flink-list-item a .flink-item-desc {
	transition: .3s
}

#article-container .flink .flink-list>.flink-list-item a .flink-item-name {
	transition: .3s
}

#article-container .flink .flink-list>.flink-list-item:before {
	background: #9749f5e6;
	background: var(--primary-color,#9749f5e6)
}

#article-container .flink .flink-list>.flink-list-item:hover {
	background: #9749f5e6;
	background: var(--primary-color,#9749f5e6);
	box-shadow: 0 2px 20px #9749f5e6;
	box-shadow: 0 2px 20px var(--primary-color,#9749f5e6);
	animation-play-state: paused
}


#article-container .flink .flink-list>.flink-list-item:hover img {
	transform: rotate(var(--primary-rotate))
}

#article-container .flink .flink-list>.flink-list-item .customcolor {
	color: #1f2d3d;
	color: var(--namecolor,#1f2d3d)
}

#article-container .flink .flink-list>.flink-list-item .customcolor:hover {
	color: #fff
}

@keyframes coverIn {
	0% {
		opacity: .6
	}

	to {
		opacity: 1
	}
}

#article-container img {
	margin: 0
}

.flink-list-card {
	overflow: auto
}

.flink-list-card>a {
	width: calc(25% - 15px);
	height: 130px;
	position: relative;
	display: block;
	margin: 15px 7px;
	float: left;
	overflow: hidden;
	border-radius: 3px;
	transition: all .3s ease 0s,transform .6s cubic-bezier(.6,.2,.1,1) 0s;
	box-shadow: 0 14px 38px rgba(0,0,0,.08),0 3px 8px rgba(0,0,0,.06)
}

.flink-list-card>a:hover .info {
	transform: translateY(-100%)
}

.flink-list-card>a:hover .wrapper img {
	transform: scale(1.2)
}

.flink-list-card>a .cover {
	width: 100%;
	transition: transform .5s ease-out
}

.flink-list-card>a .wrapper {
	position: relative
}

.flink-list-card>a .wrapper .fadeIn {
	animation: coverIn .8s ease-out forwards
}

.flink-list-card>a .info,.flink-list-card>a .wrapper .cover {
	position: absolute;
	top: 0;
	left: 0
}

.flink-list-card>a .info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 3px;
	background-color: hsla(0,0%,100%,.7);
	transition: transform .5s cubic-bezier(.6,.2,.1,1) 0s
}

.flink-list-card>a .info img {
	position: relative;
	top: 22px;
	width: 66px;
	height: 66px;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	z-index: 1
}

.flink-list-card>a .info span {
	padding: 20px 0 12px;
	font-size: 16px;
	width: 100%;
	text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	background-color: hsla(0,0%,100%,.7);
	color: var(--font-color)
}

.flink-list-card>a .info .flink-item-name {
	padding: 20px 0 12px;
	font-size: 16px;
	width: 100%;
	text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	background-color: hsla(0,0%,100%,.7);
	color: var(--font-color)
}

.flink-list-card>a .info .flink-item-desc {
	padding: 20px 0 12px;
	font-size: 16px;
	width: 100%;
	text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	background-color: hsla(0,0%,100%,.7);
	color: var(--font-color)
}

#article-container .flink .flink-list > .flink-list-item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 15px 7px;
  width: calc(100% / 3 - 15px);
  height: 90px;
  border-radius: 8px;
  line-height: 17px;
  -webkit-transform: translateZ(0);
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: my_custom1;
}

