#heartbeat {
  color: #ff0000;
  animation: iconAnimate 1.33s ease-in-out infinite;
}

@-moz-keyframes iconAnimate {

  0%,
  100% {
    transform: scale(1);
  }

  10%,
  30% {
    transform: scale(0.9);
  }

  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }

  50%,
  70% {
    transform: scale(1.1);
  }
}

@-webkit-keyframes iconAnimate {

  0%,
  100% {
    transform: scale(1);
  }

  10%,
  30% {
    transform: scale(0.9);
  }

  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }

  50%,
  70% {
    transform: scale(1.1);
  }
}

@-o-keyframes iconAnimate {

  0%,
  100% {
    transform: scale(1);
  }

  10%,
  30% {
    transform: scale(0.9);
  }

  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }

  50%,
  70% {
    transform: scale(1.1);
  }
}

@keyframes iconAnimate {

  0%,
  100% {
    transform: scale(1);
  }

  10%,
  30% {
    transform: scale(0.9);
  }

  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }

  50%,
  70% {
    transform: scale(1.1);
  }
}

:root {
    --global-font-size: 14px;
    --global-bg: #fff;
    --font-color: #4c4948;
    --hr-border: #a4d8fa;
    --hr-before-color: #80c8f8;
    --search-bg: #f6f8fa;
    --search-input-color: #4c4948;
    --search-result-title: #4c4948;
    --preloader-bg: #37474f;
    --preloader-color: #fff;
    --tab-border-color: #f0f0f0;
    --tab-botton-bg: #f0f0f0;
    --tab-botton-color: #1f2d3d;
    --tab-button-hover-bg: #dcdcdc;
    --tab-button-active-bg: #fff;
    --card-bg: #fff;
    --sidebar-bg: #f6f8fa;
    --btn-hover-color: #ff7242;
    --btn-color: #fff;
    --btn-bg: #49b1f5;
    --text-bg-hover: #b6e8547a;
    --light-grey: #eee;
    --white: #fff;
    --text-highlight-color: #1f2d3d;
    --blockquote-color: #6a737d;
    --blockquote-bg: rgba(73,177,245,0.1);
    --reward-pop: #f5f5f5;
    --toc-link-color: #666261;
    --card-box-shadow: 0 3px 8px 6px rgba(7,17,27,0.06);
    --card-hover-box-shadow: 0 3px 8px 6px rgba(7,17,27,0.15);
    --waline-bgcolor: #ffffff52;
    --waline-bgcolor-light: #fef1f100;
}

#pagination .prev-post .label, #pagination .next-post .label {
    color: #090909;
    text-transform: uppercase;
    font-size: 90%;
}

#pagination .prev_info, #pagination .next_info {
    color: #090909;
    font-weight: 500;
}


#pagination img.prev-cover,
#pagination img.next-cover {
display: none !important;
}

#pagination.pagination-post {
  margin: 2rem 0 !important;
  background: #0000;
}


#pagination .pagination-info {
  position: absolute;
  top: 50%;
  padding: 1rem 2rem;
  width: 100%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}


#aside-content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post {
    background: rgba(255,255,255,.2);
}


#pagination.pagination-post {
    margin: 2rem 0 !important;
}
#aside-content .card-widget, #recent-posts>.recent-post-item, .layout_post>#post, .layout > div:first-child:not(.recent-posts) {
    background: rgba(255,255,255,.2);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(255, 255, 255, 0.15);  

/*

    background-color: rgba(255, 255, 255, 0.1);
    background-color: rgba(38, 227, 26, 0.15); 

*/

}


#recent-posts > 
.recent-post-item:hover {
    height: 102px;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: my_custom1;

}

table {
    font-family: 'zgFont';
    display: table;
}

p {
    font-family: 'zgFont';
}

#article-container p {
    font-family: 'zgFont';
}

#article-container ol p, #article-container ul p {
    font-family: 'zgFont';
}

#article-container ol li, #article-container ul li{
    font-family: 'zgFont';
}

.v[data-class=v] .vcard .vcontent {
	font-family: 'zgFont';
}

.v[data-class=v] .vempty,.v[data-class=v] .vcount {

    display: none !important;
}

#recent-posts > 
.recent-post-item {
    height: 102px;
/*
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: my_custom;
*/
}

.post_cover {
    height: 122px;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: my_custom;
}

@keyframes my_custom1 {
    0% {
        box-shadow: 0 0 4px #ca00ff
    }

    25% {
        box-shadow: 0 0 16px #00b5e5
    }

    50% {
        box-shadow: 0 0 4px #00f
    }

    75% {
        box-shadow: 0 0 16px #b1da21
    }

    100% {
        box-shadow: 0 0 4px red
    }
}
@keyframes my_custom {
    from {
        box-shadow: 0 0 20px var(--primary-color2,#08CB39),inset 0 0 15px var(--primary-color2,#08CB39),0 1px 0 var(--primary-color2,#08CB39)
    }

    to {
        box-shadow: 0 0 20px var(--primary-color2,#08D6E8),inset 0 0 10px var(--primary-color2,#08D6E8),0 1px 0 var(--primary-color2,#08D6E8)
    }
}
@keyframes myflash {
    from {
        border-color: transparent
    }

    to {
        border-color: var(--primary-color3,#881B12)
    }
}


#web_bg {
  background: -webkit-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: -moz-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: -o-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: -ms-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
  
  
}


#recent-posts > .recent-post-item >.recent-post-info > .article-meta-wrap .article-meta-separator {
    margin: 0 0.3rem;
    margin-top: 0px;
    margin-right: 0.6rem;
    margin-bottom: 0px;
    margin-left: 0.6rem;
}

